<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li [class.active]="isActive(['Home'])">
                    <a [routerLink]="['Home']">Strona główna</a>
                </li>
                <li [class.active]="isActive(['Products'])">
                    <a [routerLink]="['Products']">Lista produktów</a>
                </li>
                <li [class.active]="isActive(['AddProduct'])">
                    <a [routerLink]="['AddProduct']">Dodaj produkt</a>
                </li>
                <form class="navbar-form navbar-right" *ngIf="isActive(['Products'])">
                    <div class="form-group">
                        <input [(ngModel)]="filter" (keyup)="changeFilter($event.target.value)" type="text" class="form-control" placeholder="Filtruj">
                        <select [(ngModel)]="filterBy" (change)="changeFilterBy($event.target.value)" class="form-control">
                            <option *ngFor="let opt of options" [value]="opt[0]">{{ opt[1] }}</option>                
                        </select>
                    </div>
                </form>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>