<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>{{pageTitle}}</h4>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleImages()">
                                {{ showImages ? "Ukryj" : "Pokaż"}} obrazki
                            </button>
                        </th>
                        <th (click)="changeSorting('producer', 'lex')">Producent {{ orders.producer.glyph }}</th>
                        <th (click)="changeSorting('model', 'lex')">Model {{ orders.model.glyph }}</th>
                        <th (click)="changeSorting('code', 'lex')">Kod produktu {{ orders.code.glyph }}</th>
                        <th (click)="changeSorting('amount', 'num')">Dostępność {{ orders.amount.glyph }}</th>
                        <th (click)="changeSorting('price', 'num')">Cena {{ orders.price.glyph }}</th>
                        <th (click)="changeSorting('rating', 'num')">Ocena {{ orders.rating.glyph }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter:filterBy:listFilter | productSort:sortMethod:sortColumn:sortOrder">
                            <td [routerLink]="['ProductDetails', {id: product.id}]">
                                <img *ngIf="showImages && product.imageUrl" [src]="product.imageUrl" [title]="product.producer + ' ' + product.model" [style.width.px]='imageWidth'
                                    [style.margin.px]='imageMargin'>
                            </td>
                            <td [routerLink]="['ProductDetails', {id: product.id}]">{{ product.producer }}</td>
                            <td [routerLink]="['ProductDetails', {id: product.id}]">{{ product.model | uppercase }}</td>
                            <td [routerLink]="['ProductDetails', {id: product.id}]">{{ product.code | uppercase }}</td>
                            <td [routerLink]="['ProductDetails', {id: product.id}]">{{ product.amount }} szt.</td>
                            <td [routerLink]="['ProductDetails', {id: product.id}]">{{ product.price | productPrice:exchangeRate }} zł</td>
                        <td [routerLink]="['ProductDetails', {id: product.id}]"><stars [rating]="product.rating"></stars></td>
                        <td><button (click)="delete(product.id)" type="button" class="btn btn-danger">Usuń</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>