<div class="container">
    <form id="form" (ngSubmit)="onSubmit()" #addProduct="ngForm">
        <fieldset class="form-group">
            <label>Producent</label>
            <input [(ngModel)]="product.producer" ngControl="producer" #producer="ngForm" (keyup)="producerChanged()" type="text" class="form-control"
                required>
            <div [hidden]="producer.valid || producer.pristine" class="alert alert-danger">
                Nazwa producenta jest wymagana
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Model</label>
            <input [(ngModel)]="product.model" ngControl="model" #model="ngForm" type="text" class="form-control" required>
            <div [hidden]="model.valid || model.pristine" class="alert alert-danger">
                Model laptopa jest polem wymaganym
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Kod produktu</label>
            <div class="input-group">
                <span class="input-group-addon">{{ codePrefix }}</span>
                <input [(ngModel)]="product.code" ngControl="code" #code="ngForm" type="text" class="form-control" required>
            </div>
            <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
                Kod produktu jest polem wymaganym
            </div>
            <small class="text-muted">Kod produku stanowią 3 pierwsze litery nazwy producenta myślnik i numer ewidencyjny</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Przekątna ekranu</label>
            <div class="input-group">
                <input [(ngModel)]="product.dimension" ngControl="dimension" #dimension="ngForm" type="number" min="8.9" max="17.3" step="0.1"
                    class="form-control" required>
                <span class="input-group-addon">"</span>
            </div>
            <div [hidden]="dimension.valid || dimension.pristine" class="alert alert-danger">
                Przekątna ekranu jest wymagana
            </div>
            <small class="text-muted">Wartość wyrażona w calach</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Rozdzielczość</label>
            <input [(ngModel)]="product.resolution" ngControl="resolution" #resolution="ngForm" type="text" class="form-control" pattern="\d{3,4}x\d{3,4}"
                required>
            <small class="text-muted">Format: ###(#)x###(#), gdzie # oznacza cyfrę</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Pamięć masowa</label>
            <input [(ngModel)]="product.storage" ngControl="storage" #storage="ngForm" type="text" class="form-control" required>
            <div [hidden]="storage.valid || storage.pristine" class="alert alert-danger">
                Wielkość pamięci masowej jest wartością wymaganą
            </div>
            <small class="text-muted">Pamiętaj o jednostkach</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Pamięć operacyjna</label>
            <input [(ngModel)]="product.memory" ngControl="memory" #memory="ngForm" type="text" class="form-control" required>
            <div [hidden]="memory.valid || memory.pristine" class="alert alert-danger">
                Wielkość pamięci operacyjnej jest wartością wymaganą
            </div>
            <small class="text-muted">Pamiętaj o jednostkach</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Procesor</label>
            <input [(ngModel)]="product.processor" ngControl="processor" #processor="ngForm" type="text" class="form-control" required>
            <div [hidden]="processor.valid || processor.pristine" class="alert alert-danger">
                Producent i model procesora jest wymagany
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>Karta graficzna</label>
            <input [(ngModel)]="product.graphicsCard" ngControl="graphicsCard" #graphicsCard="ngForm" type="text" class="form-control">
            <small class="text-muted">Pole opcjonalne dla laptopów z APU</small>
        </fieldset>
        <fieldset class="form-group">
            <label>System operacyjny</label>
            <select [(ngModel)]="product.os" ngControl="os" #os="ngForm" class="form-control">
                    <option *ngFor="let s of systems" [value]="s">{{s}}</option>
                </select>
        </fieldset>
        <fieldset class="form-group">
            <label>Liczba sztuk</label>
            <input [(ngModel)]="product.amount" ngControl="amount" #amount="ngForm" type="number" min="0" class="form-control" required>
        </fieldset>
        <div [hidden]="amount.valid || amount.pristine" class="alert alert-danger">
            Pole wymagane (liczba sztuk musi być nieujemna)
        </div>
        <fieldset class="form-group">
            <label>Cena</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input [(ngModel)]="product.price" ngControl="price" #price="ngForm" type="number" [min]="minPrice" class="form-control" required>
            </div>
            <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
                Cena jest polem wymaganym (musi być większa niż {{ minPrice }})
            </div>
            <small class="text-muted">Cena produktu w dolarach amerykańskich</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Opis</label>
            <textarea [(ngModel)]="product.description" ngControl="description" #description="ngForm" class="form-control" rows="5"></textarea>
            <small class="text-muted">Pole opcjonalne</small>
        </fieldset>
        <fieldset class="form-group">
            <label>Ocena</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                <input [(ngModel)]="product.rating" ngControl="rating" #rating="ngForm" type="number" min="1" max="5" step="0.1" class="form-control"
                    required>
            </div>
            <div [hidden]="rating.valid || rating.pristine" class="alert alert-danger">
                Pole wymagane
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label>URL zdjęcia</label>
            <div class="input-group">
                <span class="input-group-addon">http://</span>
                <input [(ngModel)]="product.imageUrl" ngControl="imageUrl" #imageUrl="ngForm" type="text" class="form-control">
            </div>
            <small class="text-muted">Pole opcjonalne</small>
        </fieldset>
        <hr>
        <fieldset class="form-group centered">
            <button (click)="cancel($event)" class="btn">Anuluj</button>
            <input [disabled]="!addProduct.form.valid" id="submit" type="submit" class="btn btn-primary" value="Dodaj" />
        </fieldset>
    </form>
</div>